/.nb-gradle/
.gradle/4.10/fileContent/fileContent.lock
.gradle/4.10/fileChanges/last-build.bin
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/fileHashes/resourceHashesCache.bin
.gradle/4.10/gc.properties
.gradle/4.10/javaCompile/classAnalysis.bin
.gradle/4.10/javaCompile/jarAnalysis.bin
.gradle/4.10/javaCompile/javaCompile.lock
.gradle/4.10/javaCompile/taskHistory.bin
.gradle/4.10/taskHistory/taskHistory.bin
.gradle/4.10/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.name
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules/ES-II-Projeto-II.iml
.idea/modules/ES-II-Projeto-II.main.iml
.idea/modules/ES-II-Projeto-II.test.iml
.idea/sonarIssues.xml
.idea/sonarlint-state.xml
.idea/sonarlint.xml
.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
.idea/sonarlint/issuestore/0/b/0b963d7b1784f69480b923f88cb362d7ce301338
.idea/sonarlint/issuestore/1/c/1cd669eff13087803100183f5986f3980f634379
.idea/sonarlint/issuestore/1/d/1d6f3b2bcf28c82035650eb00de81c09f77e31a0
.idea/sonarlint/issuestore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
.idea/sonarlint/issuestore/3/a/3a0549f62755c7f8e7619dfb9fd8ccd4fd8244e9
.idea/sonarlint/issuestore/5/5/55f34888286f3db6837951c118af3aeeb9cb1f13
.idea/sonarlint/issuestore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
.idea/sonarlint/issuestore/7/1/71dd04d1ac1079cc91889171d1dd0d3effbfa2b6
.idea/sonarlint/issuestore/7/9/79938b373757cf06cb35022668319cf97764ef02
.idea/sonarlint/issuestore/8/0/8045b29bc8338b0e447515707868133340675e26
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/c/a/ca7a859de853962ff7f387bf49afef448db86b9d
.idea/sonarlint/issuestore/d/3/d3ad10c155520cd7050588df9fdddddb5a1984b9
.idea/sonarlint/issuestore/e/4/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10
.idea/sonarlint/issuestore/e/4/e4aa5076244b2dd5c1d15241d9cd75e88f2ae533
.idea/sonarlint/issuestore/f/0/f07866736216be0ee2aba49e392191aeae700a35
.idea/sonarlint/issuestore/f/b/fbe448ebfc3eb2d4e308f6b8b043666f5b57235e
.idea/sonarlint/issuestore/f/c/fcbdbff0571c35f9b38a0ce028ee2f7fc2df8744
.idea/sonarlint/issuestore/index.pb
.idea/sonarSettings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
build/classes/java/main/Directory.class
build/classes/java/main/Query.class
build/classes/java/main/query/Directory.class
build/classes/java/main/query/Query.class
build/classes/java/test/TestQuery.class
build/customJacocoReportDir/test/html/default/Directory.html
build/customJacocoReportDir/test/html/default/Directory.java.html
build/customJacocoReportDir/test/html/default/index.html
build/customJacocoReportDir/test/html/default/index.source.html
build/customJacocoReportDir/test/html/default/Query.html
build/customJacocoReportDir/test/html/default/Query.java.html
build/customJacocoReportDir/test/html/index.html
build/customJacocoReportDir/test/html/jacoco-resources/branchfc.gif
build/customJacocoReportDir/test/html/jacoco-resources/branchnc.gif
build/customJacocoReportDir/test/html/jacoco-resources/branchpc.gif
build/customJacocoReportDir/test/html/jacoco-resources/bundle.gif
build/customJacocoReportDir/test/html/jacoco-resources/class.gif
build/customJacocoReportDir/test/html/jacoco-resources/down.gif
build/customJacocoReportDir/test/html/jacoco-resources/greenbar.gif
build/customJacocoReportDir/test/html/jacoco-resources/group.gif
build/customJacocoReportDir/test/html/jacoco-resources/method.gif
build/customJacocoReportDir/test/html/jacoco-resources/package.gif
build/customJacocoReportDir/test/html/jacoco-resources/prettify.css
build/customJacocoReportDir/test/html/jacoco-resources/prettify.js
build/customJacocoReportDir/test/html/jacoco-resources/redbar.gif
build/customJacocoReportDir/test/html/jacoco-resources/report.css
build/customJacocoReportDir/test/html/jacoco-resources/report.gif
build/customJacocoReportDir/test/html/jacoco-resources/session.gif
build/customJacocoReportDir/test/html/jacoco-resources/sort.gif
build/customJacocoReportDir/test/html/jacoco-resources/sort.js
build/customJacocoReportDir/test/html/jacoco-resources/source.gif
build/customJacocoReportDir/test/html/jacoco-resources/up.gif
build/customJacocoReportDir/test/html/jacoco-sessions.html
build/customJacocoReportDir/test/html/query/Directory.html
build/customJacocoReportDir/test/html/query/Directory.java.html
build/customJacocoReportDir/test/html/query/index.html
build/customJacocoReportDir/test/html/query/index.source.html
build/customJacocoReportDir/test/html/query/Query.html
build/customJacocoReportDir/test/html/query/Query.java.html
build/jacoco/test.exec
build/libs/Query-1.0-SNAPSHOT.jar
build/reports/tests/test/classes/TestQuery.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/sonar/.sonar_lock
build/sonar/report-task.txt
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-TestQuery.xml
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/about.html
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/jacocoagent.jar
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/MANIFEST.MF
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/org/jacoco/agent/AgentJar.class
build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
out/production/classes/Directory.class
out/production/classes/Query.class
out/test/classes/PACKAGE_NAME/TestQuery.class
out/test/classes/TestDirectory.class
build/reports/tests/test/classes/TestDirectory.html
src/main/java/Main.java
out/production/classes/Main.class
build/test-results/test/TEST-TestDirectory.xml
build/classes/java/test/TestDirectory.class
build/classes/java/main/Main.class
.idea/sonarlint/issuestore/a/0/a02e2831de9049c211380349e0b3ea70b3655a40
